body{
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
}

h1{
    color: #000000;
    font-weight: 800;
    font-size: 4em;
    text-align: center;
}

.layout{
    max-width: 980px;
    min-width: 720px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.col-60{
    width: 60%;
    flex-shrink: 0;
    padding: 16px;
}

.col-40{
    width: 40%;
    flex-shrink: 0;
    padding: 16px;
}

.form{
    &__field{
        flex-grow: 1;
    }

    &__button{
        position: relative;
        top: -4px;
        min-width: 120px;
    }

    &__row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.messages{
    background: #E0F7FA;
    border-radius: 8px;
    padding: 25px;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 25px;

    &__item{
        margin: 10px 0 !important; 

        &_first{
            background: #a9fd7e !important;
        }

        &_second{
            background: #7ee0fd !important;
        }
    }
} 

.chat-list{
    background: #F9FBE7;
    border-radius: 8px;
    padding: 25px;
    height: 300px;
    overflow-y: auto;

    &__item{
        border-radius: 12px !important;
    }
}